*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

button{
    cursor: pointer;
}

.nav{
    width: 100%;
    height: 60px;
    background: black;
    color: white;

    display: flex;
    align-items: center;
}

.nav-title{
    margin: 20px;
}

.nav-list{
    display: flex;
    gap: 24px;
}

.gaming-gear{
    margin-left: 50px;
}